ul {
    width: 250px;
    height: 587px;

    margin-left:100px;
    margin-top:20px;

}

li {
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom:4px;
    
}

a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    margin-left:-3px;
    
    
}

a:hover {
    color: red;
}
li:hover{
    background-color:#d9d9d9;
}