img {
    width: 100%
}

body {
    background-color: #f4f4f4;
}

ul {
    width: 190px;
    height: 470px;
    overflow: hidden;
    margin: 100px auto;
    background-color: #f4f4f4;
}

li {
    margin-bottom: 9px;
}